{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
<div class="row justify-content-evenly mt-4 ms-3 me-5">
    <div class="form-group mb-4">
        {{ form_label(form.name) }}<br>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="row justify-content-evenly ms-3">
    <div class="col-12">
        <button class="btn btn-dark mt-lg-3 w-5 mb-3">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}

