{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h3>Product</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ product.category.name }}
            </tr>
            <tr>
                <th>Image</th>
                <td>
                {% for images in image %}
                {% if images.product.id == product.id %}
                        <img src="{{ asset('uploads/' ~ images.imageName)  }}" width="100px" height="100px" class="ms-2">
                {% endif %}
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('app_product_index') }}">Back to list</a>

{% endblock %}
